@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$textColor: #ffffff;
$unactiveColor: #eeeeee;
$hoverColor: #ffffff;

body,
html {
  font-size: 16px;
  color: $textColor;
  height: 100%;
  background-size: cover;
  font-family: Roboto, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}


._container {
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}


.list-block {
  width: 100%;
  margin: 0 auto;
}

.jam {
}

.jam-list {
  min-width: 100%;
  min-height: 100%;
}

.jam-list__item {
  display: flex;
  width: 50vw;
  padding: 10px;
  margin: 0 auto 20px;

  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.4);
}

.jam-list__img-container {
  min-width: 35%;
  max-width: 35%;
  margin-right: 1%;
}

.jam-list__image {
  width: 90%;
  height: 60%;
  margin-left: 1%;
  margin-top: 1%;
  object-fit: cover;
  border-radius: 10px;
}

.jam-list__info-container {
  //max-width: 100%;
}

.jam-list__name {
  min-width: 100%;
  margin: 0 0 2%;
  font-style: normal;
  font-size: 3vw;
  text-transform: uppercase;
}

.card__creator-list {
}

.card__item {
  display: inline-block;
  text-align: center;
  padding: 0 3%;
  margin-bottom: 1.5%;
}

.card__link {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  text-decoration: none;
}


.jam-list__table {

  border-collapse: collapse;


  th {
    padding: .3% .1% .2%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    //text-align: center;
  }

  tr:first-child {
    border-bottom: 2px solid #916FAD;
  }

  tr:not(:first-child) {
    border-bottom: 2px solid;
  }

  //td:not(:first-child), td:not(:last-child) {
  //  padding-right: 50px;
  //}

  th:not(:first-child), th:not(:last-child) {
    padding-right: 3vw;
  }

  th:nth-child(4n-3) {
    padding-right: 5vw;
  }
}

.vote_button {
  min-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 660px) {
  .jam-list__name {

  }

  .card__item {
    border-radius: 5px;
  }

  .card__link {
    font-size: 1.5vw;
  }
}


@media screen and (max-width: 500px) {
  .jam-list__table {
    td, th {
      font-size: 1.3vw;
    }
  }

  .card__item {
    border-radius: 5px;
  }

  .card__link {
    font-size: 1.7vw;
  }
}
