@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body,
html {
  font-size: 16px;
  height: 100%;
  font-family: Roboto, serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

.jam-photo {
  height: 30%;
  width: 45%;
  margin: 0 auto;
}

.jam-block {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 66px;
}

.jam-block__container {
  max-width: 80%;
  min-height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.jam-block__list {
  min-width: 60vw;
  max-width: 60vw;
  min-height: 100%;
  height: auto;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background-color: #916FAD;
}

.jam-block__info {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 60px;
  background: rgba(70, 70, 70, 0.4);
  border-bottom: 2px solid #FFFFFF;
  border-radius: 10px;
}

.jam-block__text-block {
  grid-area: 1/1/1/1;
  width: 80%;
  margin-left: 2vw;
  margin-top: 3vh;
}
.jam-block__text-block h3 {
  color: #ffffff;
}
.jam-block__text-block h1 {
  color: #ffffff;
}

.jam-block__count {
  grid-area: 1/2/1/2;
  display: flex;
  width: 70%;
  margin: auto;
  text-align: center;
}

.text-block__count-member {
  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  text-transform: uppercase;
}

.text-block__name {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
}

.text-block__creator {
  margin-bottom: 30px;
}
.text-block__creator :not(:last-child) {
  margin-right: 5px;
}

.text-block__creator-list {
  width: 100%;
}

.creator-list__item {
  display: inline-block;
  margin-bottom: 1.5%;
  padding: 0 10px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 10px;
}

.creator__link {
  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  text-decoration: none;
}

.jam-block__participate {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}

.jam-block__timer-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}

#timer {
  display: flex;
  margin: 0 auto;
  padding: 25px;
  font-size: 3vw;
  justify-content: center;
}

.jam-block__time-separator {
  margin: 0 5%;
}

div .jam-block__time-separator:last-child {
  margin-right: 0;
}

.jam-block__button-block {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.jam-block__button-block :not(:last-child) {
  margin-bottom: 30px;
}

.jam-block__button {
  width: 51%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  text-transform: uppercase;
  transition: scale 250ms;
}
.jam-block__button:hover {
  color: #ffffff;
  border: 0.5px solid #FFFFFF;
  scale: 1.1;
}

.button-block__link {
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
}

/* Component Needs */
.pc-tab > input,
.pc-tab section > div {
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2 {
  display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2 {
  color: red;
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(49, 49, 49, 0.7);
  backdrop-filter: blur(4px);
}

.modal-content {
  position: relative;
  top: 50vh;
  margin: 0 auto;
  text-align: center;
  background: #313131;
  width: 30%;
  height: auto;
  border-radius: 10px;
  color: white;
}

.modal-yes-btn {
  margin: 10px;
  background-color: #CA3E47;
  color: white;
}

.modal-no-btn {
  margin: 10px;
  border-color: #CA3E47;
  background-color: #525252;
  color: white;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pc-tab {
  width: 100%;
  min-height: 100%;
  padding: 5%;
}
.pc-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pc-tab ul li label {
  float: left;
  border-bottom: 0;
  color: #444;
}
.pc-tab ul li label:hover {
  background: black;
}
.pc-tab ul li label:active {
  background: #ffffff;
}
.pc-tab ul li:not(:last-child) label {
  border-right-width: 0;
  margin-right: 10px;
  margin-bottom: 20px;
}
.pc-tab section {
  width: 100%;
  clear: both;
}
.pc-tab section div {
  padding: 20px 0;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: black;
}
.pc-tab section div h2 {
  margin: 0;
  letter-spacing: 1px;
  color: #ffffff;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label {
  color: #ffffff;
  position: relative;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 2px;
  content: "";
}

@media screen and (max-width: 1250px) {
  .jam-block__list {
    max-width: 70vw;
  }
  .button-block__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 1000px) {
  .jam-block__list {
    max-width: 80vw;
  }
  .text-block__name {
    font-size: 3vw;
  }
  .text-block__count-member {
    font-size: 2vw;
  }
  .button-block__link {
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
  }
}
@media screen and (max-width: 850px) {
  .jam-block__list {
    max-width: 80vw;
  }
  .text-block__name {
    font-size: 4vw;
  }
  .text-block__count-member {
    font-size: 2vw;
  }
  .creator__link {
    font-size: 3vw;
  }
}
@media screen and (max-width: 730px) {
  .jam-block__list {
    max-width: 95%;
    margin: 0 auto;
  }
  .text-block__creator {
    margin-bottom: 15px;
  }
  .text-block__name {
    font-size: 2.1em;
  }
}
@media screen and (max-width: 620px) {
  .jam-block__list {
    max-width: 95%;
  }
  .creator-list__item {
    padding: 0 7px;
    border-radius: 6px;
  }
  .creator__link {
    font-size: 0.8em;
  }
  .text-block__name {
    font-size: 1.8em;
  }
  .button-block__link {
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
  }
  .text-block__count-member {
    font-size: 0.85em;
  }
  .pc-tab section {
    height: 100%;
  }
}
@media screen and (max-width: 490px) {
  .jam-block__list {
    max-width: 95%;
  }
  .creator-list__item {
    padding: 0 5px;
    border-radius: 6px;
  }
  .creator__link {
    font-size: 0.8em;
  }
  .text-block__name {
    font-size: 1.8em;
  }
  .text-block__count-member {
    font-size: 2.1vw;
  }
  .button-block__link {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
  }
  .pc-tab section {
    height: 70%;
  }
}

/*# sourceMappingURL=jam-page.css.map */
