{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ static('/mainPage/main-page.css') }}">
{% endblock %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    <div class="title">
        <a href="https://www.pixilart.com/stofflerpxl" class="title__author-url">@stofflerpxl</a>
        <img class="title__background" src="../../media/base/Background.gif" alt="SHOW">
        <div class="title__text-group">
            <h1 class="title__item-title">READY FOR JAM</h1>
            <h2 class="title__item-subtitle">СОЗДАВАЙ И УЧАВСТВУЙ В ИГРОВЫХ ДЖЕМАХ</h2>
            <form action="" class="title__form" method="get">
                <button class="title__button" type="button"
                        onclick="location.href='{{ url('registration') }}'" >
                    <div class="title__link">НАЧАТЬ</div>
                </button>
            </form>
        </div>
    </div>


    <div class="jam-block _container">
        <h1 class="jam-block__title">ГРЯДУЩИЕ ДЖЕМЫ</h1>
        <!--пофиксить момент с тем что list_item при применении к нему технического класса контейнер не встает по контейнеру-->
        <ul class="jam-block__jam-list jam-list">
            {% for card in jamCards %}
                <li class="jam-list__item" style="
                        background-color: {{ card.color }};
                        background-image: url('{{ card.photo }}') !important;">
                    <div class="blur"></div>
                    <div class="jam-list__text-block">
                        <h3 class="jam-list__item-title">{{ card.title }}</h3>
                        <h4 class="jam-list__item-text"><span>Начало: </span>{{ card.date }}</h4>
                        <h4 class="jam-list__item-text"><span>Организатор: </span>{{ card.author }}</h4>
                        <h4 class="jam-list__item-text"><span>Участники: </span> {{ card.participantQuantity }}</h4>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

