<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/base/css/zeroing-style.css'%}">
    <link rel="stylesheet" href="{% static '/base/css/style.css' %}">
    <link rel="shortcut icon" href="/media/base/Logo.svg">
    {% block links %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container _container">
            <a class="header__link" href="">
                <img src="/media/base/Logo.svg" class="header_logo" alt="">
            </a>

            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/jam/all/" class="menu__link">Джемы</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Рейтинг</a>
                    </li>
                </ul>
            </nav>
            <nav class="header__right-group right-group">
                <ul class="right-group__list">
                    <li class="right-group__items">
                        <label>
                            <input type="text" placeholder="Поиск..." class="right-group__search">
                        </label>
                    </li>
                    <li class="right-group__items">
                        <a class="right-group__link" href="">
                            <img class="right-group__notification" src="/media/base/alarm.svg" alt="">
                        </a>
                    </li>
                    <li class="right-group__items">
                        <a class="right-group__link" href="{% url 'logout' %}">
                            <img class="right-group__profile" src="/media/base/Profile.svg" alt="">
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </header>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
