{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="../../static/user/css/authorization/user-authorization.css">
{% endblock %}
{% block title %}
    Создание джема
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="registration">
            <div class="registration__container">
                <div class="registration__title">
                    <h1 class="registration__title-text">Создай свой джем</h1>
                </div>
                <form method="post" enctype="multipart/form-data" class="registration__form">
                    {% csrf_token %}
                    <ul class="registration__list">
                        {% for field in form %}
                            {% if field.auto_id != 'id_content' %}
                                <li class="registration__item">
                                    <h3 class="registration__item-title">{{ field.label }}</h3>
                                    {{ field }}
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% for field in date %}
                            <li class="registration__item">
                                <h3 class="registration__item-title">{{ field.label }}</h3>
                                {{ field }}
                            </li>
                        {% endfor %}
                        {% for field in color %}
                            <li class="registration__item">
                                <h3 class="registration__item-title">{{ field.label }}</h3>
                                {{ field }}
                            </li>
                        {% endfor %}
                        <li class="registration__item">
                            <h3 class="registration__item-title">{{ form.content.label }}</h3>
                            {{ form.content }}
                        </li>
                        {% for criteriaForm in formSet %}
                            {% for field in criteriaForm %}
                                <li class="registration__item">
                                    <h3 class="registration__item-title">{{ field.label }}</h3>
                                    {{ field }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {{ form.media }}
                    <div class="registration__button-block button-block">
                        <button class="button-block__button-complete" id="criteria_add_btn" type="button">Добавить
                            критерий
                        </button>
                    </div>
                    <div class="registration__button-block button-block">
                        <button class="button-block__button-complete" type="submit">Создать</button>
                    </div>
                </form>
                <script src="../../static/jam/registration/js/CriteriaFormController.js"></script>
                <script src="../../static/jam/registration/js/RichTextInputColor.js"></script>
                <script src="../../static/jam/registration/js/DateValidController.js"></script>
            </div>
        </div>
    </div>
{% endblock %}