{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="../../static/jam/page/jam-list.css">
{% endblock %}
{% block title %}
    Список джемов
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="filter-block _container">
            <ul class="filter-block__list">
                <li class="filter-block__item">
                    <p class="filter-block__item-text">Фильтр:</p>
                </li>
                <li class="filter-block__item">
                    <p class="filter-block__item-text">Когда</p>
                    <img src="../../media/jam/pageImages/filter-block__triangle.svg" alt=""
                         class="filter-block__triangle-image">
                    <!--        Вместо картинки здесь должен быть выпадающий список с фильтрами по категориям-->
                </li>

                <li class="filter-block__item">
                    <p class="filter-block__item-text">Рейтинг организаторов</p>
                    <img src="../../media/jam/pageImages/filter-block__triangle.svg" alt=""
                         class="filter-block__triangle-image">
                </li>

                <li class="filter-block__item">
                    <p class="filter-block__item-text">Количество участников</p>
                    <img src="../../media/jam/pageImages/filter-block__triangle.svg" alt=""
                         class="filter-block__triangle-image">
                </li>

                <li class="filter-block__create-jam">
                    <form action="" class="filter-block__form">
                        <button type="submit" class="filter-block__button">
                            <a href="" class="filter-block_button-text">Создать джем</a>
                        </button>
                    </form>
                </li>

            </ul>
        </div>

        <div class="jam-list list">
            <div class="list__container">
                {% for card in jamCards %}
                    <div class="list__item" style="
                            background-color: {{ card.color }};
                            background-image: url('/media/{{ card.photo }}') !important;">
                        <div class="blur">
                        </div>
                        <div class="list__text-block">
                            <h3 class="list__item-title">{{ card.title }}</h3>
                            <h4 class="list__item-text"><span>Начало: </span> {{ card.date }}</h4>
                            <h4 class="list__item-text"><span>Организатор: </span> lanissel</h4>
                            <h4 class="list__item-text"><span>Участники: </span> 300000</h4>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
