<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/jam/page/jam-card.css">
  <title>Title</title>
</head>
<body>
<div class="wrapper">
  <div class="list-block jam">
    <ul class="jam-list">
      <li class="jam-list__item">

        <div class="jam-list__img-container">
          <img src="../../media/user/avatar/fBcoJf_hNrOEaa.png" alt="" class="jam-list__image">
        </div>


        <div class="jam-list__info-container">
          <h2 class="jam-list__name">GAME NAME</h2>
          <ul class="card__creator-list card-list">
            <li class="card__item">
              <a href="" class="card__link">lanissell</a>
            </li>
          </ul>

          <table  class="jam-list__table">

            <tr>
              <th>Критерий</th>
              <th> Место</th>
              <th>Счёт</th>
              <th></th>
            </tr>

            <tr>
              <td>Геймплей</td>
              <td>#1</td>
              <td>20</td>
              <td>
                <button class="jam-list__button-apply"></button>
              </td>
            </tr>

            <tr>
              <td>Креативность</td>
              <td>#5</td>
              <td>15</td>
              <td>
                <button class="jam-list__button-cancel"></button>
              </td>
            </tr>
          </table>
        </div>


      </li>
    </ul>
  </div>
</div>
</body>
</html>
