{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ static('/jam/registration/css/jam-registration.css') }}">
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="registration">
            <div class="registration__container">
                <div class="registration__title">
                    <h1 class="registration__title-text">{{ title }}</h1>
                </div>
                <form method="post" enctype="multipart/form-data" class="registration__form">
                    {{ csrf_input }}
                    <ul class="registration__list">
                        {% for field in form %}
                            {% if field.auto_id != 'id_content' %}
                                <li class="registration__item">
                                    <h3 class="registration__item-title">{{ field.label }}</h3>
                                    {{ field }}
                                    <div style="color: #CA3E47">{{ field.errors }}</div>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li class="registration__item">

                            <div class="registration-lists">
                                <!--        Лист с датами начала,окончания джема и конца голосования-->
                                {% if date %}
                                    <ul class="registration__dates">
                                        {% for field in date %}
                                            <li class="registration__dates-item">
                                                <h3 class="registration__date-title">{{ field.label }}</h3>
                                                {{ field }}
                                                <div style="color: #CA3E47">{{ field.errors }}</div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <script src="../../static/jam/registration/js/DateValidController.js"></script>
                                {% endif %}

                                <!--        Лист с Цветами на выбор пользователя-->
                                {% if color %}
                                    <ul class="registration__colors">
                                        {% for field in color %}
                                            <li class="registration__color-item">
                                                <h3 class="registration__color-title">{{ field.label }}</h3>
                                                {{ field }}
                                                <div style="color: #CA3E47">{{ field.errors }}</div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                        </li>
                        <li class="registration__item">
                            <h3 class="registration__item-title">Описание</h3>
                            <label>
                                {{ form.content }}
                                {{ form.media }}
                            </label>
                        </li>
                        {% if formSet %}
                            <li class="registration__item">
                                <h3 class="registration__item-title">Критерии для голосования</h3>

                                <div class="registration-criteria-block criteria-block">
                                    <ul class="criteria-block__list">
                                        {{ formSet.as_ul() }}
                                    </ul>
                                    <button class="criteria-block__button-add" type="button"
                                            id="criteria_add_btn">
                                        Добавить
                                    </button>
                                    <button class="criteria-block__button-add" type="button"
                                            id="criteria_remove_btn">
                                        Убрать
                                    </button>
                                </div>
                            </li>
                            <script src="../../static/jam/registration/js/CriteriaFormController.js"></script>
                        {% endif %}

                    </ul>
                    <div class="registration__button-block button_block">
                        <button class="button-block__button-complete" type="submit">
                            {{ btnName }}
                        </button>
                    </div>
                </form>
                <script src="../../static/jam/registration/js/RichTextInputColor.js"></script>
            </div>
        </div>
    </div>
{% endblock %}
