{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="../../static/jam/registration/css/jam-registration.css">
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="registration">
            <div class="registration__container">
                <div class="registration__title">
                    <h1 class="registration__title-text">{{ title }}</h1>
                </div>
                <form method="post" enctype="multipart/form-data" class="registration__form">
                    {% csrf_token %}
                    <ul class="registration__list">
                        {% for field in form %}
                            {% if field.auto_id != 'id_content' %}
                                <li class="registration__item">
                                    <h3 class="registration__item-title">{{ field.label }}</h3>
                                    {{ field }}
                                    <div style="color: #CA3E47">{{ field.errors }}</div>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li class="registration__item">

                            <div class="registration-lists">
                                <!--        Лист с датами начала,окончания джема и конца голосования-->
                                <ul class="registration__dates">
                                    {% for field in date %}
                                        <li class="registration__dates-item">
                                            <h3 class="registration__date-title">{{ field.label }}</h3>
                                            {{ field }}
                                            <div style="color: #CA3E47">{{ field.errors }}</div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <!--        Лист с Цветами на выбор пользователя-->
                                <ul class="registration__colors">
                                    {% for field in color %}
                                        <li class="registration__color-item">
                                            <h3 class="registration__color-title">{{ field.label }}</h3>
                                            {{ field }}
                                            <div style="color: #CA3E47">{{ field.errors }}</div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </li>
                        <li class="registration__item">
                            <h3 class="registration__item-title">Содержание страницы джема</h3>
                            <label>
                                {{ form.content }}
                                {{ form.media }}
                            </label>
                        </li>

                        <li class="registration__item">
                            <h3 class="registration__item-title">Критерии для голосования</h3>

                            <div class="registration-criteria-block criteria-block">

                                <ul class="criteria-block__list">

                                    <li class="criteria-block__item">
                                        <label>
                                            <input type="text" class="criteria-block__input">
                                        </label>
                                    </li>

                                </ul>


                                <button class="criteria-block__button-add" type="button">
                                    <a href="" class="criteria-block__link">Добавить</a>
                                </button>

                            </div>
                        </li>

                    </ul>

                    <div class="registration__button-block button_block">
                        <button class="button-block__button-complete" type="submit">
                            <a href="" class="button-block__link">Создать</a>
                        </button>
                    </div>
                </form>

                <script src="../../static/jam/registration/js/CriteriaFormController.js"></script>
                <script src="../../static/jam/registration/js/RichTextInputColor.js"></script>
                <script src="../../static/jam/registration/js/DateValidController.js"></script>
            </div>
        </div>
    </div>
{% endblock %}
