{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ static('/jam/page/jam-page.css' ) }}">
    <link rel="stylesheet" href="{{ static('/base/css/zeroing-style.css') }}">
    <style>
        body, html {
            background: {{ color.background_color }} !important;
        }
    </style>
{% endblock %}
{% block title %}
    {{ project.name }}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <img src="../../media/{{ project.avatar }}" alt="jamLogo" class="jam-photo">
        <div class="jam-block">
            <div class="jam-block__container">
                <div class="jam-block__list" style="background-color:{{ color.form_color }}">
                    <div class="jam-block__info">
                        <div class="jam-block__text-block text-block">
                            <h1 class="text-block__name"
                                style="color:{{ color.main_text_color }}">{{ project.name }}</h1>
                            <nav class="text-block__creator">
                                <ul class="text-block__creator-list creator-list">
                                    <li class="creator-list__item"
                                        style="background-color: {{ color.main_text_color }}">
                                        <a href="" class="creator__link"
                                           style="color: {{ color.form_color }}">
                                            {{ participant.user.username }}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="jam-block__timer-container" style="color:{{ color.main_text_color }};
                                                            border-color: {{ color.main_text_color }}">
                        <div class="load-wrapper">
                            <div class="activity"></div>
                        </div>
                    </div>
                    <div class="jam-block__button-block"></div>
                    <script src="{{ static('/project/js/ProjectControlBlock.js') }}"></script>
                    <div class="pc-tab">
                        <div class="tab1"
                             style="background-color:{{ color.form_color }}; color:{{ color.main_text_color }}">
                            {{ project.content|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal">
            <div class="modal-content">
                <div class="creator__link" style="margin: 10px 10px 0">Вы точно хотите удалить джем?</div>
                <button class="jam-block__button modal-yes-btn">Да</button>
                <button class="jam-block__button modal-no-btn">Нет</button>
            </div>
        </div>
        <script src="{{ static('/jam/page/js/JamDeleteModal.js') }}"></script>
    </div>
{% endblock %}
