{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ static('/user/css/authorization/user-authorization.css') }}">
{% endblock %}
{% block title %}
    Вход
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="registration">
            <div class="registration__container">
                <div class="registration__title">
                    <h1 class="registration__title-text">Вход в аккаунт</h1>
                </div>
                <form method="post" action={{ url('login') }} enctype="multipart/form-data" class="registration__form">
                    {{ csrf_input }}
                    <ul class="registration__list">
                        {% for field in form %}
                            <li class="registration__item">
                                <h3 class="registration__item-title">{{ field.label }}</h3>
                                {{ field }}
                            </li>
                        {% endfor %}
                        {% for error in form.errors.values() %}
                            <li class="registration__item" style="color: #CA3E47">{{ error   }}</li>
                        {% endfor %}
                    </ul>
                    <div class="registration__button-block button-block">
                        <button class="button-block__button" type="button">
                            <a href="../register" class="button-block__link">Нет аккаунта</a>
                        </button>
                        <button class="button-block__button-complete" type="submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
