<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ static('/base/css/zeroing-style.css') }}">
    <link rel="stylesheet" href="{{ static('/user/css/profile/user-profile.css') }}">
    <title>Title</title>
</head>
<body>
<div class="wrapper">

    <div class="profile-header">
        <div class="profile-header__header">
            <img src="../../media/base/Profile.svg" alt="" class="profile-header__avatar">
        </div>
    </div>

    <div class="bio-block">

        <div class="bio-block__button _container">
            <button class="bio-block__create-command__button" onclick="">
                <a href="" class="bio-block__create-command__link">Название команды</a>
            </button>
        </div>

        <div class="bio">
            <h1 class="bio__nickname">PROFOFF</h1>
            <div class="bio-line-separator"></div>
            <h3 class="bio__description">Челик на Белавине решил поучваствовать в джемах... Молодой, позитивный</h3>
        </div>

    </div>


    <div class="projects-block _container">

        <div class="projects-block__personal-jam personal-jam">
            <div class="personal-jam__text">
                <h3 class="personal-jam__title">Список проектов</h3>
                <h3 class="personal-jam__rating">Рейтинг: <span>1000</span></h3>
            </div>
            <div class="personal-jam__jam-block">
                <ul class="personal-jam__list jam-list">
                    <li class="jam-list__item">
                        <a href="">
                            <div class="blur"></div>
                            <div class="jam-list__text-block">
                                <h3 class="jam-list__item-title">My game</h3>
                                <h4 class="jam-list__item-text">Жанр:<span> Аркада</span></h4>
                                <h4 class="jam-list__item-text">Джем: SPACE JAM</h4>
                                <h4 class="jam-list__item-text">Команда: SPACE JAM</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="projects-block__organized-jam organized-jam">
            <div class="organized-jam__text">
                <h3 class="organized-jam__title">Организация джемов</h3>
            </div>
            <div class="organized-jam__jam-block">
                <ul class="organized-jam__list jam-list">
                    <li class="jam-list__item">
                        <div class="blur"></div>
                        <div class="jam-list__text-block">
                            <h3 class="jam-list__item-title">My game</h3>
                            <h4 class="jam-list__item-text">Начало: <span>29.02.2023 22:22</span></h4>
                            <h4 class="jam-list__item-text">Организатор: lanissel</h4>
                            <h4 class="jam-list__item-text">Участники: 30000</h4>
                        </div>
                    </li>
                    <li class="jam-list__item">
                        <div class="blur"></div>
                        <div class="jam-list__text-block">
                            <h3 class="jam-list__item-title">My game</h3>
                            <h4 class="jam-list__item-text">Начало: <span>29.02.2023 22:22</span></h4>
                            <h4 class="jam-list__item-text">Организатор: lanissel</h4>
                            <h4 class="jam-list__item-text">Участники: 30000</h4>
                        </div>
                    </li>
                    <li class="jam-list__item">
                        <div class="blur"></div>
                        <div class="jam-list__text-block">
                            <h3 class="jam-list__item-title">My game</h3>
                            <h4 class="jam-list__item-text">Начало: <span>29.02.2023 22:22</span></h4>
                            <h4 class="jam-list__item-text">Организатор: lanissel</h4>
                            <h4 class="jam-list__item-text">Участники: 30000</h4>
                        </div>
                    </li>
                    <li class="jam-list__item">
                        <div class="blur"></div>
                        <div class="jam-list__text-block">
                            <h3 class="jam-list__item-title">My game</h3>
                            <h4 class="jam-list__item-text">Начало: <span>29.02.2023 22:22</span></h4>
                            <h4 class="jam-list__item-text">Организатор: lanissel</h4>
                            <h4 class="jam-list__item-text">Участники: 30000</h4>
                        </div>
                    </li>
                    <li class="jam-list__item">
                        <div class="blur"></div>
                        <div class="jam-list__text-block">
                            <h3 class="jam-list__item-title">My game</h3>
                            <h4 class="jam-list__item-text">Начало: <span>29.02.2023 22:22</span></h4>
                            <h4 class="jam-list__item-text">Организатор: lanissel</h4>
                            <h4 class="jam-list__item-text">Участники: 30000</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>


</div>
</body>
</html>
