{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ static('/user/css/authorization/user-authorization.css') }}">
{% endblock %}
{% block title %}
    Регистрация
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="registration">
            <div class="registration__container">
                <div class="registration__title">
                    <h1 class="registration__title-text">Регистрация</h1>
                </div>
                <form method="post" action="" enctype="multipart/form-data"
                      class="registration__form">
                    {{ csrf_input }}
                    <ul class="registration__list">
                        {% for field in form %}
                            <li class="registration__item">
                                <h3 class="registration__item-title">{{ field.label }}</h3>
                                {{ field }}
                                <div style="color: #ff6363; max-width: 514px">{{ field.errors.as_ul() }}</div>

                        {% endfor %}
                        <li class="registration__item">
                            <ul>
                                <li id="password_size">Должен содержать не менее 8 символов </li>
                                <li id="password_num">Должен содержать цифры </li>
                                <li id="password_repeat">Пароли должны совпадать </li>
                            </ul>
                        </li>
                        {% for field in dataForm %}
                            <li class="registration__item">
                                <h3 class="registration__item-title">{{ field.label }}</h3>
                                {{ field }}
                                <div style="color: #CA3E47">{{ field.errors }}</div>
                            </li>
                        {% endfor %}
                        {% for field in photoForm %}
                            <li class="registration__item">
                                <h3 class="registration__item-title">{{ field.label }}</h3>
                                {{ field }}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="registration__button-block button-block">
                        <button class="button-block__button" type="button">
                            <a href="../login" class="button-block__link">Есть аккаунт</a>
                        </button>
                        <button class="button-block__button-complete"
                                id="register_btn"
                                type="submit">Зарегистрироваться</button>
                    </div>
                    <script src="{{ static('/user/js/passwordValidator.js') }}"></script>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
